<%- include("partials/setup") %>
<%- include("partials/header") %>


<section class="triplist">
<div>
    <div class="tripform__title--container">
        <h2 class="tripform__title">Historique</h2>
    </div>
    <% if(admin) { %>
    <form class="history__date-input-container" method="post">
        <input class="history__date-input" type="date" id="day_selected" name="day_selected">
        <input type="submit" value="OK" class="history__date-input-validate">
    </form>
    <%  } %>
    <div>
        <%if(trips.length == 0) { %>
            <p class="history__message-no-trip">Pas de traversée pour ce jour &#9875</p>
        <% } %>


        <div class="history__stats">
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Directe</div>
                <div class="tripline__info-text tripline__info-text-background-direct"><%= passengers_sum[0] %></div>
            </div>
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Tour</div>
                <div class="tripline__info-text tripline__info-text-background-tour"><%= passengers_sum[1] %></div>
            </div>
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Ext</div>
                <div class="tripline__info-text tripline__info-text-background"><%= passengers_sum[2] %></div>
            </div>
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Affr</div>
                <div class="tripline__info-text tripline__info-text-background"><%= passengers_sum[3] %></div>
            </div>
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Total</div>
                <div class="tripline__info-text tripline__info-text-background"><%= passengers_sum[4] %></div>
            </div>
        </div>
        <div class="history__stats">
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Quota directe</div>
                <div class="tripline__info-text tripline__info-text-background"><%=  passengers_sum[5] %></div>
            </div>
            <div class="history__stat-sum-passengers-by-type-container">
                <div class="history__stats-sum-passengers-title">Quota tour</div>
                <div class="tripline__info-text tripline__info-text-background"><%=  passengers_sum[6] %></div>
            </div>
        </div>
        <% for (trip of trips) { %>
        <!-- START TRIP LINEE-->
        <a href="/modifytrip/<%= trip.id %>" class="tripline__container">
            <div class="tripline__subcontainer">
                
                <div class="tripline__subsubcontainer">
                    <img class="tripline__info-logo" src="sailor.png" alt="">
                    <div class="tripline__info-text"><%= trip.fname %></div>
                </div>
                <div class="tripline__subsubcontainer">
                    <img class="tripline__info-logo" src="ship.png" alt="">
                    <div class="tripline__info-text"><%= trip.boat %></div>
                </div>
                <div class="tripline__subsubcontainer">
                    <img class="tripline__info-logo" src="seat.png" alt="">
                    <div class="tripline__info-text"><%= trip.quantity %> passagers</div>
                </div>

            </div>

            <div class="tripline__subcontainer2">
                <div class="tripline__subsubcontainer">
                    <% if(trip.type_trip == 'TOUR') { %>
                        <div class="tripline__info-text tripline__info-text-background-tour"><%= trip.type_trip %></div>
                    <% } else if(trip.type_trip == 'DIRECTE') { %>
                        <div class="tripline__info-text tripline__info-text-background-direct"><%= trip.type_trip %></div>
                    <% } else { %>
                        <div class="tripline__info-text tripline__info-text-background"><%= trip.type_trip %></div>
                    <% } %>

                    <div class="tripline__info-text tripline__info-text-background"><%= trip.harbour %></div>
                </div>
                <div class="tripline__subsubcontainer">
                    <div class="tripline__info-text tripline__info-text-background" id="day_trip"><%= trip.day_trip %></div>
                    <% if(!trip.delay_trip) { %>
                    <div class="tripline__info-text tripline__info-text-background-ontime">À l'heure</div>
                    <% } else { %>
                    <div class="tripline__info-text tripline__info-text-background-delay">En retard</div>
                    <% } %>

                </div>
                    <div class="tripline__hours"><%= trip.departure.slice(0,5) %></div>
            </div>
        </a>
            <!-- END TRIP LINEE-->
            <% } %>
        
    </div>
</div>
</section>

        </main>
    </body>
</html>