<%- include("partials/setup") %>
<%- include("partials/header") %>
<script src="/modifytrip.js" defer></script>

<section class="tripform">
    <div class="tripform__title--container">
        <h2 class="tripform__title">Modifier la traversée</h2>
    </div>
    
    <form class="tripform__form" method="post">
        <label class="tripform__label">Jour</label>
        <% if (admin) { %>
        <input type="date"  class="tripform__hours" value="<%=trip.day_trip%>" max="<%=todayDate%>" name="day_trip" id="day_trip">
        <% } else { %>
        <p id="day_trip-fixed"class="tripform__date-fixed"> <%=todayDate_formatted%> </p>
        <% } %>
        <label class="tripform__label">Bateau</label> 
        <select name="boat" id="boat" class="tripform__select">
            <option class="tripform__option" value="BRÉHATINE" <%= trip.boat === 'BRÉHATINE' ? 'selected' : '' %>>Bréhatine</option>
            <option class="tripform__option" value="ENEZ VRIAD"  <%= trip.boat === 'ENEZ VRIAD' ? 'selected' : '' %>>Enez Vriad</option>
            <option class="tripform__option" value="ENEZIZ" <%= trip.boat === 'ENEZIZ' ? 'selected' : '' %>>Eneziz</option>
            <option class="tripform__option" value="KEPHRENN" <%= trip.boat === 'KEPHRENN' ? 'selected' : '' %>>Kephrenn</option>
            <option class="tripform__option" value="KEHOPS" <%= trip.boat === 'KEHOPS' ? 'selected' : '' %>>Kehops</option>
        </select>
        <label class="tripform__label">Type de traversée</label>
        <select name="type_trip" id="type_trip"  class="tripform__select">
            <option class="tripform__option" value="DIRECTE"  <%= trip.type_trip === 'DIRECTE' ? 'selected' : '' %>>Directe</option>
            <option class="tripform__option" value="EXTÉRIEUR"  <%= trip.type_trip === 'EXTÉRIEUR' ? 'selected' : '' %>>Extérieur</option>
            <option class="tripform__option" value="AFFRÊTEMENT"  <%= trip.type_trip === 'AFFRÊTEMENT' ? 'selected' : '' %>>Affrêtement</option>
        </select>
        <label class="tripform__label">Port</label>
        <select name="harbour" id="harbour"  class="tripform__select">
            <option class="tripform__option" value="ARCOUEST" <%= trip.harbour === 'ARCOUEST' ? 'selected' : '' %>>Arcouest</option>
            <option class="tripform__option" value="BRÉHAT" <%= trip.harbour === 'BRÉHAT' ? 'selected' : '' %>>Bréhat</option>
            <option class="tripform__option" value="ERQUY" <%= trip.harbour === 'ERQUY' ? 'selected' : '' %>>Erquy</option>
            <option class="tripform__option" value="SAINT QUAY" <%= trip.harbour === 'SAINT QUAY' ? 'selected' : '' %>>Saint Quay</option>
            <option class="tripform__option" value="SAINT QUAY-BINIC" <%= trip.harbour === 'SAINT QUAY-BINIC' ? 'selected' : '' %>>Saint Quay-Binic</option>
            <option class="tripform__option" value="TRIEUX" <%= trip.harbour === 'TRIEUX' ? 'selected' : '' %>>Trieux</option>
            <!-- <option class="tripform__option" value="PARC ÉOLIEN" <%= trip.harbour === 'PARC ÉOLIEN' ? 'selected' : '' %>>Parc Éolien</option> -->

            <option class="tripform__option" value="DAHOUËT" <%= trip.harbour === 'DAHOUËT' ? 'selected' : '' %>>Dahouët</option>
            <option class="tripform__option" value="BAIE PAIMPOL" <%= trip.harbour === 'BAIE PAIMPOL' ? 'selected' : '' %>>Baie Paimpol</option>
            <option class="tripform__option" value="ÉOLIEN ARCOUEST" <%= trip.harbour === 'ÉOLIEN ARCOUEST' ? 'selected' : '' %>>Éolien Arcouest</option>
            <option class="tripform__option" value="ÉOLIEN ST QUAY" <%= trip.harbour === 'ÉOLIEN ST QUAY' ? 'selected' : '' %>>Éolien St Quay</option>

            <option class="tripform__option" value="ROUEN" <%= trip.harbour === 'ROUEN' ? 'selected' : '' %>>Rouen</option>

            <option class="tripform__option" value="ROUEN" <%= trip.harbour === 'ROUEN' ? 'selected' : '' %>>Rouen</option>

            <option class="tripform__option" value="BINIC" <%= trip.harbour === 'BINIC' ? 'selected' : '' %>>Binic</option>
            <option class="tripform__option" value="EOLIEN DAHOUËT" <%= trip.harbour === 'EOLIEN DAHOUËT' ? 'selected' : '' %>>Eolien Dahouët</option>
            <option class="tripform__option" value="EOLIEN ERQUY" <%= trip.harbour === 'EOLIEN ERQUY' ? 'selected' : '' %>>Eolien Erquy</option>
            <option class="tripform__option" value="ROUTE DES PHARES" <%= trip.harbour === 'ROUTE DES PHARES' ? 'selected' : '' %>>Route des Phares</option>

        </select>
        <label class="tripform__label">Nombre de passagers</label>
        <input type ="number" name="quantity" class="tripform__input--passenger" value="<%=trip.quantity%>" required>
        <label class="tripform__label">Hors Quotas</label>
        <input type="number" name="no_quota" class="tripform__input--passenger" value="<%=trip.no_quota%>"  required>
        <label class="tripform__label" value="14:30">Heure de départ</label>
        <input class="tripform__hours" type="time" id="departure" value="<%=trip.departure%>" name="departure"
            min="06:00" max="23:00" required>

        <label class="tripform__label">Retard</label>
        <div>
            <label>
                <% if(trip.delay_trip) { %>
                    <input type="radio" name="delay_trip" value="true" checked>
                <% } else { %>
                    <input type="radio" name="delay_trip" value="true">
                <% } %>
                OUI
            </label>
            <label>
                <% if(!trip.delay_trip) { %>
                    <input type="radio" name="delay_trip" value="false" checked>
                <% } else { %>
                    <input type="radio" name="delay_trip" value="false">
                <% } %>
                NON
            </label>
        </div>
        <label class="tripform__label">Raison du retard</label>
        <input class="tripform__input" name="reason" value="<%=trip.reason%>">
        <% if(locals.errMsg) { %>
            <p class="trip__errmsg"><%=locals.errMsg%></p>
        <% } %>
        <div class="tripform__modify-validate--container">
            <input class="tripform__validate" type="submit">
            <p class="tripform__input-delete" id="delete_trip" trip-id=<%=trip.id%>>Supprimer</p>
        </div>
    </form>

    <div class="user__modal-confirmation" id="modal_trip" >
        <p class="user__modal-text">êtes-vous sûr de vouloir continuer?</p>
        <div class="user__answer-container">
            <form  id="user__delete-form" method="post">
                <input type="submit" class="user__answer" value="oui" id="user__yesdelete">
            </form>
            <p class="user__answer user__answer-no" id="user_nodelete">non</p>
        </div>
    </div>

</section>

        </main>
    </body>
</html>
