<%- include("partials/setup") %>
<%- include("partials/header") %>
<script src="/modifytrip.js" defer></script>

<section class="tripform">
    <div class="tripform__title--container">
        <h2 class="tripform__title">Modifier la traversée</h2>
    </div>
    
    <form class="tripform__form" method="post">
        <label class="tripform__label">Jour</label>
        <% if (admin) { %>
        <input type="date"  class="tripform__hours" value="<%=trip.day_trip%>" max="<%=todayDate%>" name="day_trip" id="day_trip">
        <% } else { %>
        <p id="day_trip-fixed"class="tripform__date-fixed"> <%=todayDate_formatted%> </p>
        <% } %>
        <label class="tripform__label">Bateau</label> 
        <select name="boat" id="boat" data-boat="<%=trip.boat%>" class="tripform__select">
            <option class="tripform__option" value="BRÉHATINE">Bréhatine</option>
            <option class="tripform__option" value="ENEZ VRIAD">Enez Vriad</option>
            <option class="tripform__option" value="ENEZIZ">Eneziz</option>
            <option class="tripform__option" value="KEPHRENN">Kephrenn</option>
            <option class="tripform__option" value="KEHOPS">Kehops</option>
        </select>
        <label class="tripform__label">Type de traversée</label>
        <select name="type_trip" id="type_trip" data-type_trip="<%=trip.type_trip%>" class="tripform__select">
            <option class="tripform__option" value="DIRECTE">Directe</option>
            <option class="tripform__option" value="TOUR">Tour de l'île</option>
            <option class="tripform__option" value="EXTÉRIEUR">Extérieur</option>
            <option class="tripform__option" value="AFFRÊTEMENT">Affrêtement</option>
        </select>
        <label class="tripform__label">Port</label>
        <select name="harbour" id="harbour" data-harbour="<%=trip.harbour%>" class="tripform__select">
            <option class="tripform__option" value="ARCOUEST">Arcouest</option>
            <option class="tripform__option" value="BRÉHAT">Bréhat</option>
            <option class="tripform__option" value="ERQUY">Erquy</option>
            <option class="tripform__option" value="SAINT QUAY">Saint Quay</option>
            <option class="tripform__option" value="SAINT QUAY-BINIC">Saint Quay-Binic</option>
            <option class="tripform__option" value="TRIEUX">Trieux</option>
            <option class="tripform__option" value="PARC ÉOLIEN">Parc Éolien</option>
            <option class="tripform__option" value="ROUEN">Rouen</option>
        </select>
        <label class="tripform__label">Nombre de passagers</label>
        <input type ="number" name="quantity" class="tripform__input--passenger" value="<%=trip.quantity%>" required>
        <label class="tripform__label" value="14:30">Heure de départ</label>
        <input class="tripform__hours" type="time" id="departure" value="<%=trip.departure%>" name="departure"
            min="06:00" max="23:00" required>

        <label class="tripform__label">Retard</label>
        <div>
            <label>
                <% if(trip.delay_trip) { %>
                    <input type="radio" name="delay_trip" value="true" checked>
                <% } else { %>
                    <input type="radio" name="delay_trip" value="true">
                <% } %>
                OUI
            </label>
            <label>
                <% if(!trip.delay_trip) { %>
                    <input type="radio" name="delay_trip" value="false" checked>
                <% } else { %>
                    <input type="radio" name="delay_trip" value="false">
                <% } %>
                NON
            </label>
        </div>
        <label class="tripform__label">Raison du retard</label>
        <input class="tripform__input" name="reason" value="<%=trip.reason%>">
        <% if(locals.errMsg) { %>
            <p class="trip__errmsg"><%=locals.errMsg%></p>
        <% } %>
        <div class="tripform__modify-validate--container">
            <input class="tripform__validate" type="submit">
            <p class="tripform__input-delete" id="delete_trip" trip-id=<%=trip.id%>>Supprimer</p>
        </div>
    </form>

    <div class="user__modal-confirmation" id="modal_trip" >
        <p class="user__modal-text">êtes-vous sûr de vouloir continuer?</p>
        <div class="user__answer-container">
            <form  id="user__delete-form" method="post">
                <input type="submit" class="user__answer" value="oui" id="user__yesdelete">
            </form>
            <p class="user__answer user__answer-no" id="user_nodelete">non</p>
        </div>
    </div>

</section>

        </main>
    </body>
</html>